CompileFlags:
   CompilationDatabase: build/ # Search build/ directory for compile_commands.json
   Add:
      [
         -Wno-unknown-warning,
         -ferror-limit=0,
         -mlong-calls,
      ]
   Remove:
      [-mlongcalls, -fstrict-volatile-bitfields, -fno-tree-switch-conversion]
