.DS_Store
*.d
.idea
.cache
.cache/
authBlob.json
cmake-build-debug
scripts-version
wifi.config.json
build/
euphonium/protos
euphonium/scripts/*.json
euphonium/scripts/configuration/*.json
targets/cli/build
targets/esp32/*.gz
targets/esp32/ota-checksum.txt
targets/esp32/ota.bin
targets/esp32/scripts_checksum.txt
targets/esp32/scripts.tar
targets/esp32/recovery/dependencies.lock
targets/esp32/app/dependencies.lock
targets/esp32/app/spiffs/*
web/package-lock.json
web/yarn.lock
py/
