[submodule "euphonium/cpp-reflection"]
	path = euphonium/cpp-reflection
	url = https://github.com/alufers/cpp-reflection
[submodule "euphonium/cJSON"]
	path = euphonium/cJSON
	url = https://github.com/DaveGamble/cJSON
