.confWrapper {
    margin: 22px;
    flex: 1;
    display: flex;
    flex-direction: column;

    &__header {
        font-size: 28px;
    }

    &__subheader {
        background-color: var(--secondary-color);
        font-size: 16px;
        margin: 8px 0px 24px 0px;
    }

    &__card {
        padding: 22px;
        border-radius: 16px;
        background-color: var(--primary-color);
    }

    &__actionButton {
        margin-top: 22px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}