.stationList {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: calc(100vh - 450px);
}

.savedTitle {
    margin-top: 10px;
    color: var(--text-secondary);
}

.stationContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: calc(20% - 20px);
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    align-items: start;
    color: var(--text-secondary);
    background-color: var(--secondary-color);

    &__name {
        color: var(--text-primary);
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: -15px;
        margin-bottom: 8px;
        font-weight: 800;
    }

    &__controls {
        color: white;
        margin-top: 8px;
        margin-left: auto;
    }

    &__stationHeader {
        display: flex;
        flex-direction: row;
    }
    
    &__cover {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background-color: white;
        margin: -20px 0px 0px auto;
        align-self: flex-end;
    }
}