@font-face {
  font-family: "icomoon";
  src: url("../../assets/icons.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  padding: 10px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eq:before {
  content: "\e90a";
}
.icon-vol-up:before {
  content: "\e907";
}
.icon-vol-down:before {
  content: "\e909";
}
.icon-save:before {
  content: "\e908";
}
.icon-sun:before {
  content: "\e906";
}
.icon-moon:before {
  content: "\e900";
}
.icon-prev:before {
  content: "\e901";
}
.icon-next:before {
  content: "\e902";
}
.icon-play:before {
  content: "\e903";
}
.icon-pause:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-close:before {
  content: "\ea0f";
}
