.mainWrapper {
    font-family: "Open Sans", sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-primary) !important;
    display: flex;
    flex-direction: row;
    padding: 0px;

    &__mainContent {
        flex-grow: 1;
        display: flex;
        flex-flow: column;
    }
}