.mainWrapper {
    color: var(--text-primary) !important;
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 100vw;
    min-height: 100vh;
    background: var(--secondary-color);

    &__mainContent {
        flex-grow: 1;
        display: flex;
        flex-flow: column;
    }
}

body {
    width: 100vw;
    height: 100vh;
    background: url(@/assets/waves-bg.svg);
    font-family: "OpenSans";
    background-size: auto 100%;

}
