.mainWrapper {
    font-family: "Open Sans", sans-serif;
    color: var(--text-primary) !important;
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 100vw;
    min-height: 100vh;

    &__mainContent {
        flex-grow: 1;
        display: flex;
        flex-flow: column;
    }
}

body {
    width: 100vw;
    height: 100vh;
    background: url(src/assets/waves-bg.svg);
    background-size: auto 100%;
}