.button {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  color: var(--accent);
  position: relative;
  transition: 300ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
    padding: 1rem 3rem;
  }

  /* hack to add some opacity to the border */
  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: 0.6;
    border: 2px solid var(--accent);
    background: transparent;
  }
  &:hover:enabled {
    color: var(--text-primary);
    background: var(--accent);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.primary {
    background: var(--accent-dark);
    color: var(--text-primary);

    &:hover:enabled {
      background: var(--accent);
    }
  }
  &.borderless {
    &:before {
      border: none;
    }
    &:hover {
      background: transparent;
    }
  }
  &.loading {
    position: relative;
    user-select: none;
    &.primary {
      background: var(--accent-dark);
      color: var(--accent-dark);
      &:hover {
        background: var(--accent-dark);
        color: var(--accent-dark);
      }
    
    }
    
    &:after {
      content: " ";
      position: absolute;
      top: calc(50% - 2rem/2);
      left: calc(50% - 2rem/2);
      width: 2rem;
      height: 2rem;
      border-radius: 9999px;
      opacity: 0.6;

      border: 3px solid  var(--text-primary);
      border-left: 3px solid transparent;

      animation: spin 1s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
