@font-face {
  font-family: "euphonium";
  src: url("../../../assets/icons.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "euphonium" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  padding: 10px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e91b";
}
.icon-volume-up:before {
  content: "\e900";
}
.icon-volume-off:before {
  content: "\e901";
}
.icon-volume-down:before {
  content: "\e902";
}
.icon-stop:before {
  content: "\e903";
}
.icon-extension:before {
  content: "\e91f";
}
.icon-arrow-right:before {
  content: "\e91e";
}
.icon-radio:before {
  content: "\e91d";
}
.icon-arrow-down:before {
  content: "\e91c";
}
.icon-arrow-left:before {
  content: "\e91a";
}
.icon-equalizer:before {
  content: "\e919";
}
.icon-rss_feed:before {
  content: "\e910";
}
.icon-share:before {
  content: "\e917";
}
.icon-edit:before {
  content: "\e918";
}
.icon-search:before {
  content: "\e904";
}
.icon-hide:before {
  content: "\e905";
}
.icon-show:before {
  content: "\e906";
}
.icon-visibility:before {
  content: "\e906";
}
.icon-lock:before {
  content: "\e907";
}
.icon-pause:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e909";
}
.icon-bluetooth:before {
  content: "\e90a";
}
.icon-dac_settings:before {
  content: "\e90b";
}
.icon-power:before {
  content: "\e90c";
}
.icon-settings:before {
  content: "\e90d";
}
.icon-music:before {
  content: "\e90e";
}
.icon-music_off:before {
  content: "\e90f";
}
.icon-music_note:before {
  content: "\e914";
}
.icon-queue:before {
  content: "\e911";
}
.icon-library_music:before {
  content: "\e912";
}
.icon-speaker_group:before {
  content: "\e913";
}
.icon-speaker:before {
  content: "\e915";
}
.icon-moon:before {
  content: "\e916";
}
.icon-sun:before {
  content: "\e9d4";
}