@font-face {
  font-family: "icomoon";
  src: url("../../assets/icons.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rename:before {
  content: "\e906";
}
.icon-pencil-square:before {
  content: "\e90e";
}
.icon-pencil:before {
  content: "\e90f";
}
.icon-github:before {
  content: "\e90a";
}
.icon-plus-circle:before {
  content: "\e90b";
}
.icon-plus-square:before {
  content: "\e90c";
}
.icon-plus:before {
  content: "\e90d";
}
.icon-upload:before {
  content: "\e908";
}
.icon-refresh:before {
  content: "\e907";
}
.icon-file-code:before {
  content: "\e900";
}
.icon-file:before {
  content: "\e901";
}
.icon-folder-open-clear:before {
  content: "\e902";
}
.icon-folder-clear:before {
  content: "\e903";
}
.icon-folder-open:before {
  content: "\e904";
}
.icon-folder:before {
  content: "\e905";
}
