.playbackContainer {
  display: flex;
  flex-direction: column;
}

.progressBar {
  margin: 22px;
  margin-bottom: 32px;
  width: auto;
  border-radius: 8px;
  background-color: var(--primary-color);

  &__inner {
    width: 30%;
    height: 18px;
    border-radius: 8px;
    background-color: var(--accent-color);
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 22px;
  margin-bottom: -40px;
  &__cover {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 16px;
  }

  &__playbackContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    border-radius: 0px 16px 16px 0px;
    padding: 12px;
    background-color: var(--primary-color);
  }

  &__songContainer {
    flex-shrink: 1;
  }

  &__controlsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    align-self: center;
    margin-right: 4px;
    font-size: 20px;
    color: var(--text-secondary);
  }

  &__timeContainer {
    color: var(--text-secondary);
    margin-right: 8px;
    font-size: 15px;
    font-weight: 300;
  }

  &__songName {
    font-size: 16px;
    font-weight: 800;
  }

  &__songSubtitle {
    font-size: 14px;
    color: var(--text-secondary);
  }
}
