.sidebarItemActive {
    border: 2px solid red;
}

.themeDark {
  --secondary-color: #444851;
  --secondary-dark: #B4B4B4;
  --text-primary: #ffffff;
  --text-secondary: #B4B4B4;
  --border-color: #565656;
  --primary-color: #2F333D;
  --accent: #e84393;
  --accent-dark: #c53f6c;
}

.themeLight {
  --secondary-color: #F4F5FE;
  --secondary-dark: #d2dadd;
  --text-primary: black;
  --text-secondary: #8199C0;
  --primary-color: white;
  --border-color: #0000002e;
  --accent-color: rgba(86, 223, 48, 0.866);
  --accent: #63ABED;
}
